```css
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333333;
  margin: 0;
  font: 1.2em / 1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
}

nav {
  background-color: black;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}


/* =====================
   Navigation layout
===================== */

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Keep items stacked vertically (no flex added) */


/* =====================
   Float feature image
===================== */

.feature {
  float: left;
  margin: 0 20px 20px 0;
}


/* =====================
   Main two-column layout
===================== */

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}


/* =====================
   Photo grid
===================== */

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
```
